button{
  color:orange
}

h4{
  margin: 0;
  display: block;
}
.varietalChoices{
  display: flex;
  flex-wrap: wrap;
  margin:.25em;
  /* width: 2em; */
}
.eachWine{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .25em;
  border: .25em solid red;
  width:480px
}
.wineName{
  text-align: justify;
  width: 50%;
  height: 50%;
}
.varietal{
  display: flex;
  flex-wrap: wrap;
  margin:.25em;
  border: .5em solid green;
}

.rating{
  border: 1em solid blue;
  display: flex;
  flex-direction: column;
}

p.countryRadio{
  display: inline-block;
  /* border: .5em dotted indianred; */
  white-space: nowrap;
}

.countryOrigin{
  display: inline-block;
  width: 8em;
  border: .5em solid yellow;
}