button{
  color:orange
}

h4{
  margin: 0;
  display: block;
}
h3{
  margin: .5em;
  display: block;
  border: .25em ridge rgba(182, 28, 28, 0.842);
  border-radius: 2em;
  width:.75em;
}
input{
  margin-right: .5em;
}

p{
  display: inline;
}
.winesHeader{
  text-align: center;
  font-size: 3em;
  margin: 0;;
}

input[type=text]:focus {
  background-color: lightblue;
}
.dayOf{
  display: inline-block;
  /* border: .1em solid rgba(182, 28, 28, 0.842); */
  margin:.5em;

}
.dateOf{
  display: inline-block;
  /* border: .1em solid rgba(182, 28, 28, 0.842); */
  margin:.5em;

}
.theme{
  display: inline-block;
  /* border: .1em solid rgba(182, 28, 28, 0.842); */
  margin:.5em;
}
.varietal{
  display: inline-block;
  margin: .25em;
  width: 11em;
  /* border: .5em solid green; */
}
.varietalChoices{
  margin:.25em;
}

label.varietalChoices{
  margin:0px;
}

p.varietalChoices{
  display: inline-block;
  margin: .1em;
}

p.countryRadio{
  display: inline-block;
  margin: .1em;
}

label.countryRadio{
  margin:0px;
}

.countryOrigin{
  display: inline-block;
  width: 10em;
  /* border: .5em solid yellow; */
}

.eachWine{
  display: inline-block;
  margin: .25em;
  border: .5em groove rgba(182, 28, 28, 0.842);
  border-radius: 2em;
  width:48%;
}
.wineName{
  overflow: hidden;
  display: block;
  width: 48%;
  height: 2em;
  margin: .2em;
}
.wineNotes{
  overflow: hidden;
  display: block;
  word-wrap: normal;
  /* width: 48%; */
  height: 8em;
  margin: .2em; 
}

.rating{
  /* border: 1em solid blue; */
  display: inline-block;
  margin-right: .5em
}

.baseInfo{
  border: .5em groove rgba(182, 28, 28, 0.842);
  display: inline-block;
}
